:root {
    --nav-height: 48px;

    --font: Arial;
    --font-color: black;

    --default-dark: rgb(180, 180, 180);
    --default-light: rgb(251, 237, 176);

    --grey-dark: rgb(120, 120, 120);
    --grey-light: rgb(205, 205, 205);

    --red-dark: rgb(205, 70, 70);
    --red-light: rgb(245, 195, 190);

    --orange-dark: rgb(195, 115, 45);
    --orange-light: rgb(245, 200, 170);

    --yellow-dark: rgb(155, 130, 40);
    --yellow-light: rgb(220, 210, 145);

    --green-dark: rgb(40, 140, 30);
    --green-light: rgb(180, 220, 180);

    --mint-dark: rgb(35, 140, 105);
    --mint-light: rgb(180, 220, 200);

    --cyan-dark: rgb(45, 130, 155);
    --cyan-light: rgb(185, 215, 225);

    --blue-dark: rgb(90, 120, 200);
    --blue-light: rgb(195, 210, 240);

    --purple-dark: rgb(130, 105, 210);
    --purple-light: rgb(210, 200, 245);

    --pink-dark: rgb(190, 85, 150);
    --pink-light: rgb(240, 195, 220);
}

body {
    padding: 0px 10px;
    font-family: var(--font);
    margin: 0px 10px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.0em;
}

.navigation-bar {
    font-size: 1.2em;
    height: var(--nav-height);
    border-bottom: 1px solid var(--grey-light);
    text-align: center;
}

.navigation-bar a {
    width: 100px;
    font-size: 1.0em;
    line-height: calc(var(--nav-height) - 3px);
    text-decoration: none;
    margin: 0px 10px 0px 0px;
    max-width: 150px;
    color: var(--font-color);
    display:inline-block;
}

navigation-bar > a::hover {
    text-decoration: none;
    background-color: var(--grey-light);
    padding-bottom: 8px;
}


.profile-card {
    display: flex;
    max-width: 800px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto;
    padding 10px;
}

.profile-card img {
    width: auto;
    height: 250px;
    object-fit: cover;
}

.profile-card .profile-pic {
    flex: none;
    padding: 1.5rem;
}

.profile-info {
    padding: 1.5rem;
    flex: 1;
}

.profile-info h1 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #333;
}

.profile-info p {
    margin: 0.5rem 0;
    line-height: 1.5;
    color: #555;
}

.profile-info .label {
    font-weight: bold;
    color: #111;
}

@media (max-width: 600px) {
    .profile-card {
    flex-direction: column;
    }

    .profile-card img {
    width: 100%;
    height: 300px;
    }
}